@charset "utf-8";
/* CSS Document */

#wrapper {
	overflow: visible !important;
	width: 870px !important;
	margin: 30px auto !important;
}
#Inhalt {
		background-color:#777;
		padding-left:40px !important;
		padding-right:50px !important;
	}

#sprytooltip1 {
	/* [disabled]display: none; */
}
#sprytooltip2 {
	display: none;
}
#sprytooltip3 {
	display: none;
}
#sprytooltip4 {
	display: none;
}
#sprytooltip5 {
	display: none;
}
#sprytooltip6 {
	display: none;
}
#Header, #Logo, #NavWrapper, #footer  {
	display:block !important;
}
