/*
 * jQuery Nivo Slider v2.7.1
 * http://nivo.dev7studios.com
 *
 * Copyright 2011, Gilbert Pellegrom
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 * 
 * March 2010
 */
 
 
/* The Nivo Slider styles */
.nivoSlider {
	position:relative;
	width: 560px;
	height: 240px;
	margin:15px 0 0 17px;
}
.nivoSlider img {
	position:absolute;
	visibility:hidden;
	/* [disabled]top:2px; */
	/* [disabled]left:144px !important; */
	/* [disabled]width: 372px; */
	/* [disabled]height: 219px; */
}
/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:520px;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
	background: none !important;
	border: none !important;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
}
/* Caption styles */
.nivo-caption {
	position:absolute;
	right:0px;
	top:0px;
	width:140px !important;
	height:190px !important;
	background:#DDD;
	color:#555;
	/* [disabled]opacity:0.4; */ /* Overridden by captionOpacity setting */
	z-index:8;
	/* [disabled]font-size: 90%; */
	padding: 20px;
	padding-top: 30px;
	line-height: 1.7;
	font-size:110%;
	text-align:justify;
}
.nivo-caption p {
	/* [disabled]padding:5px; */
	margin:0 0 .5em !important;
}
.nivo-caption a {
	/* [disabled]display:inline !important; */
	color: #555 !important;
}
.nivo-html-caption {
	display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position:absolute;
	top:45%;
	z-index:9;
	cursor:pointer;
}
.nivo-prevNav {
	left:0px;
}
.nivo-nextNav {
	right:0px;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav a {
	position:relative;
	z-index:9;
	cursor:pointer;
}
.nivo-controlNav a.active {
	font-weight:bold;
}

.newsBox .nivoSlider {
	width: 170px;
	height: 120px;
	float: left;
	margin-top: 0px;
}
.newsBox .nivo-caption {
	display:none !important;
}
/* If an image is wrapped in a link */
.newsBox .nivoSlider a.nivo-imageLink {
	width:170px;
	height:100%;
	border:none !important;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
	background: none !important;
}
.nivoSlider a {	background: none !important; }
